<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Users</h1>
    <form action="/" method="GET">
      <input type="text" name="user"><button>submit</button>
    </form>
    
    <ul>
      <li></li>
    </ul> 
  </body>
</html>
